.grid{
    display: grid;
    min-height: 100vh;
    grid-template-columns: auto 1120px auto;
}

.container
{
    min-height: 100%;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-template-rows: auto 250px 2fr;
}

.grid-title
{
    display: grid;
    grid-row: 2;
    width: 100%;
}

.pageTitle
{
    font-size: 10vmin;
}

.CenterText
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tags_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 5px;
}

.tag
{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    color: black;
}

.title
{
    display: flex;
    justify-content: center;
    min-height: 25%;
    font-size: 7.5vmin;
    align-items: center;
}

.grid-projects
{
    display: grid;
    grid-row: 3;
}

.projects-flex
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    gap: 50px;
}

.grid-project-left-img
{
    min-height: 500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 455px 645px;
    padding: 30px;
}

.grid-project-right-img
{
    min-height: 500px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 645px 455px;
    padding: 30px;

}

.img-section
{
    display: grid;
    height: 100%;
    grid-template-rows: auto 353px auto 50px auto;
}

.img-section img
{
    width: 100%;
    height: 100%;
}

.flex-links-section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.link
{
    aspect-ratio : 1 / 1;
    height:100%;
}

.text-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*height: 100%;*/
}

.description
{
    /*flex-grow: 1;*/
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
}

.read-more-button-section
{
    height: 35px;
    display: flex;
    justify-content: center;
}

.read-more-button
{
    height: 100%;
    aspect-ratio: 3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
}

.glow
{
    border-radius: 25px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 55px 5px rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.5s ease;
}

.glow:hover
{
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 55px 5px rgba(255, 255, 255, 0.2);
}

.imgGlow
{
    border-radius: 5px;
    box-shadow: 0 0 70px 20px rgba(255, 255, 255, 0.07);
}