html
{
    font-size: 16px;
}

body {
    background-color: #000000;
    color: #ffffff;
    font-family: MedodicaRegular, serif;
}

h1 {
    margin: 20px;
    font-size: 1.5em;
    white-space: nowrap;
    font-family: MedodicaRegular, serif;
}

p
{
    margin: 0;
}

a {
    color: inherit; /* Makes the link inherit the text color from its parent */
    text-decoration: none; /* Removes the underline */
}

img {
    -webkit-user-drag: none; /* For Safari and Chrome */
    -moz-user-drag: none;    /* For older Firefox versions */
    -ms-user-drag: none;     /* For old versions of IE */
    user-drag: none;         /* Standard property */
}

@media (min-width: 1120px)
{
    .grid{
        display: grid;
        min-height: 100vh;
        grid-template-columns: auto 1120px auto;
    }

    .grid-column-2
    {
        grid-column: 2;
    }
}

.flex-centered
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.grid-nav
{
    display: grid;
    grid-row: 1;
}


.nav3 {
    background: #000000;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px; /* Fixed height for the navbar */
    max-width: 100%;
    grid-row: 1;
}

.nav_element {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

.nav_element:hover {
    color: #ffffff;
    text-shadow: 0 0 5px currentcolor;
}

.home-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh; /* Full height of viewport */
    text-align: center; /* Center the text */
    margin: 0; /* Remove margin */
    padding: 150px;
}

.grid-home-profile-section {
    display: grid;
    grid-row: 2;
}

.home-profile-section {
    display: flex;
    align-items: center;

    justify-content: center;
    width: 100%;
}

.text {
    width: 100%;
    text-align: center;
}

.text strong {
    font-size: 6rem; /* Larger size for "Joel" */
}

.text .highlight {
    font-size: 3rem; /* Larger size for "gameplay engineer" */
    font-weight: bold;
}

/* Adjust image */
.home-profile-section img {
    width: 200px;
    height: 300px;
    object-fit: cover ;
    /*transform: rotate(45deg); /* Rotate image */
}

.center-text {
    text-align: center;
}

.text-shadow {
    text-align: center;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.neon-text-strong {
    text-shadow: 0 0 15px currentcolor;
}
.neon-text-weak {
    text-shadow: 0 0 7px currentcolor;
}


.game_item {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center;
    width: 30%;
    overflow: visible;
    min-height: 0;
}

.game_item2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    overflow: visible;
    min-height: 0;
}

.game_div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto; /* Allow height to adjust based on the content */
    padding: 10px; /* Add some padding for spacing */
    box-sizing: border-box; /* Include padding and border in the width/height */
}


.game_description
{
    margin: 5px;
    font-size: calc(0.5vw + 0.5em);
}


.colored-rect {
    display: inline-flex; /* Use inline-flex to fit content */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    background-color: rgba(255, 255, 255, 0.13); /* Set your desired background color */
    color: white; /* Set text color */
    padding: 5px 5px; /* Adjust padding to fit text */
    border-radius: 8px; /* Adjust the rounding of the corners */
    box-sizing: border-box; /* Include padding and border in the element’s width and height */
    text-align: center; /* Center text alignment */
    font-size: 1em; /* Adjust font size as needed */
    margin: 1px; /* Add a little margin between tags */
}


.media_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}

.img_container {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_container img {
    max-width: 100%; /* Ensure image scales within the container */
    max-height: 100%; /* Ensure image scales within the container */
    width: auto;
    height: auto;
}

.logo_container {
    display: flex;
    justify-content: space-evenly; /* Distribute the logos evenly */
    align-items: center; /* Center them vertically */
    width: 100%; /* Full width container */
    height: 1%;
    padding-bottom: 10px; /* Adds some space below the logos */
}

.github_logo {
    background-color: white;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.github_logo img {
    width: 80%; /* Scale the image to fit within the square */
    height: 80%; /* Ensure the image height fits the square */
    object-fit: contain; /* Maintain the aspect ratio of the image */
}

.test {
    flex-basis: 100%
}

@font-face {
    font-family: ComputerFont_Bold;
    src: url('../Fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: ComputerFont_Normal;
    src: url('../Fonts/ShareTechMono-Regular.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: MedodicaRegular;
    src: url('../Fonts/MedodicaRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* New class for debugging borders */
.border-debug {
   //border: 1px solid red;
}

.border-debug1 {
    border: 1px solid red;
}
